<html>
<body>
{% block content %}{% endblock %}
{% block footer %}
	<div>&nbsp;</div>
	<div>
		If you have questions, please don't hesitate to 
		<a href="https://whitelabelcreditrepairs.com/conact">contact us</a>.
	</div>
{% endblock %}
</body>
</html>