<html>
<body>
{% block content %}{% endblock %}
{% block footer %}
	<div>&nbsp;</div>
	<div>
		If you have questions, please don't hesitate to 
		<a href="https://basicscredit.com/#conact-row">contact us</a>.
	</div>
	<div>&nbsp;</div>
	<div style="text-align: center; width: 50%;">
		<img src="https://basicscredit.com/img/credit_wheel.png" />
	</div>
{% endblock %}
</body>
</html>