{% extends 'email.twig' %}
{% block content %}
<h2>Thanks for signing up with Basics Credit</h2>
<div>&nbsp;</div>
<div>
	Begin improving your credit today. 
	<a href="{{activation_url}}">Click here</a> to activate your account!
</div>
{% endblock %}
