{% extends 'email.twig' %}
{% block content %}
<h3>Your HIPPA violation letters are ready.</h3>
<div>
	You should see your HIPPA violation letters attached as PDFs to this email. You should have one letter for each of the three major credit bureaus: Equifax, Experian, and TransUnion. Send one of these letters to each credit bureau. 
</div>
<div>&nbsp;</div>
<div>
The purpose of these letters is to remind the collection agencies and credit

bureaus that if they fully validate your validation letter on your medical bills, they are violating

HIPPA regulations. HIPPA laws do not allow your doctor or health care provider to disclose

your medical information without your consent of HIPPA release. Although there has been a steady

increase in doctors asking for a HIPPA release to be signed by you, this only allows

them to share with other medical professionals not 3rd party collectors. Make sure you

exclude everyone other than the party intended to receive your medical information. <b>Bo not

sign a full HIPPA release.</b>
</div>
<div>&nbsp;</div>
<div>
This medical dispute letter should be used after the request for validation, XDeletion, and intent to file lawsuit letters above have been sent.

Sometimes the collection agencies send your health records as validation. If they do this,

include a copy of this and send it to the credit bureaus as evidence that they have broken the law by violating HIPPA.
</div>
{% endblock %}