{% extends 'email.twig' %}
{% block content %}
<h3>Your intent to file lawsuit letters are ready.</h3>
<div>
	You should see your intent to to file lawsuit letters attached as PDFs to this email. You should have one letter for each of the three major credit bureaus: Equifax, Experian, and TransUnion. Send one of these letters to each credit bureau. Additionally, copy one of them and send it to your collection agency.
</div>
{% endblock %}