{% extends 'email.twig' %}
{% block content %}
<h3>Your request for validation letter is ready.</h3>
<div>
	You should see your request for validation letter attached as a PDF to this email. This should be your initial contact with the collectoin agency. You need to confirm that this letter has been delivered. <b>Save your receipt or email from USPS confirming the delivery.</b> Wait for a response from the collection agency. The goal is not to get one.
</div>
{% endblock %}