{% extends 'email.twig' %}
{% block content %}
<h3>Your section 609 verification letters are ready.</h3>
<div>
	You should see your section 609 verification letters attached as PDFs to this email. You should have one letter for each of the three major credit bureaus: Equifax, Experian, and TransUnion. Send one of these letters to each credit bureau within the next seven days, certified mail only. 
</div>
{% endblock %}