{% extends 'email.twig' %}
{% block content %}
<h3>Your XDeletion letters are ready.</h3>
<div>
	You should see your XDeletion letters attached as PDFs to this email. You should have one letter for each of the three major credit bureaus: Equifax, Experian, and TransUnion. Send one of these letters to each credit bureau within the next seven days, certified mail only. You must also send a copy of your Driver's license, SSN card, and proof of address (such as a utility bill or phone bill with your full name and address). You need to confirm that this letter has been delivered. <b>Save your receipt or email from USPS confirming the delivery.</b> Wait for a response from the credit bureaus.
</div>
{% endblock %}