textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control{
  background-color: #f5f5f5;
  box-shadow: 0px 0px 1px #333;
  padding-left: 5px;
}

input[readonly].form-control{
  background-color: inherit;
}