{% extends 'page.twig' %}
{% block content %}

<div class="col-md-8 col-md-offset-2 col-xs-12">
	<div class="row">
		<h1 class="col-xs-12">How It Works</h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			Since credit repair can be performed through many different methods, it is important to understand exactly how our credit repair process works. Having spent years perfecting our three-step credit repair process, we are confident that we have put together a program that will show positive results in as little time as possible. 
			<br/><br/>
			Below is a detailed outline of exactly how our credit repair process works in Review, Resolve and  Results.
		</div>
	</div>
	<div class="row" id="review">
		<div class="col-xs-12">
			<h2>Review</h2>
			<div>
				Once you have successfully pulled your credit report, you will begin the review process. 
				You will look for collections accounts,  errors, false information, miscalculations, and so on. 
				There is a good chance that errors will be found on your report, since about 25% of credit reports contain mistakes. 
				You should expect to receive a welcome email.
				<br/><br/>
				Once you sign up you choose between Method 1 or 2 credit restoration. 
			</div>
			<br/><br/>
			<div class="col-md-5 col-xs-12 panel">
				<h3>Method 1</h3>
				<h4>Validation Letter</h4>
				Dispute negative account(s) with the Collections Agency.
				You will closely gather the collection agency name full address and account number(s).
			</div>
			<div class="col-md-5 col-md-offset-2 col-xs-12 panel">
				<h3>Method 2</h3>
				<h4>609 Letter</h4>
				Dispute negative account(s) with the Credit Bureaus.
				You will closely gather the collection agency name full address and account number(s).
			</div>
			<div>
				The process of repairing your credit will commence within 45 minutes to an hour.
				<br/>
				<strong>Our services are offered  24 hours /7 days a week 365 days a year.</strong>
			</div>
		</div>
	</div>
	<div class="row" id="resolve">
		<div class="col-xs-12">
			<h2>Resolve</h2>
			<div>
				This is when all the action happens. After reviewing your credit report,  will begin to dispute the questionable items on your credit report. According to the Fair Credit Reporting Act, the credit bureaus are obligated to read and respond to every  letter that they receive, so you will receive response  correspondence letters typically within 30 days of our dispute.
				<br/><br/>
 				Although we will handle the heavy lifting, you must provide us copies of all response correspondence from the bureaus. You may upload or fax them.
			</div>
		</div>
	</div>
	<div class="row" id="results">
		<div class="col-xs-12">
			<h2>Results</h2>
			Within only 30-60 days, you will begin seeing results on your credit report due to the effectiveness of our disputing process. Meanwhile, our friendly customer service staff will provide you with constant notifications about which items are being removed, and any changes that are happening to your credit report. Keep in mind that the disputing your errors is not a one-step process; we will send many rounds of dispute letters, so if you don't see the results you hoped for in the first round, rest assured that you will definitely see them in the second or third. Once the process is complete and your negative items are removed, you can then begin establishing new credit. It is in this step that you can finally begin rebuilding your finances and getting yourself back on track. You will have a freedom that would have never been possible before.
		</div>
	</div>
</div>

{% endblock %}














