{% extends 'page.twig' %}
{% block content %}
	<div id="main-carousel" class="carousel">
	<span class="animation-trigger" id="navbar-animation-trigger"></span>
		<div class="slide active">
			<img src="https://static.pexels.com/photos/3305/numbers-money-calculating-calculation.jpg" />
		</div>
		<div class="slide">
			<img src="https://static.pexels.com/photos/34092/pexels-photo.jpg" />
		</div>
		<div class="slide">
			<img src="https://static.pexels.com/photos/34204/pexels-photo.jpg" />
		</div>
	</div>
{% endblock %}