{% extends 'page.twig' %}
{% import 'form_fields.twig' as field %}
{% block content %}
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<h2>Forgot your password?</h2>
		<h3>No Problem</h3>
		<h5>Enter your email, and we'll send you a link to reset your password.</h5>
		<form class="bs-form" method="POST">
			{{ field.text({name:"email", type:"email"}) }}
			{{ field.submit("Submit") }}
		</form>
	</div>
{% endblock %}