{% extends 'page.twig' %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1">
	<div class="row">
		<h1 class="col-xs-12">Know Your Rights</h1>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h4>Fair and Accurate Credit Transactions, Act of 2003</h4>
			<div>&nbsp;</div>
			<div>
			To amend the Fair Credit Reporting Act, to prevent identity theft, improve resolution of consumer disputes, improve the accuracy of consumer records, make improvements in the use of, and consumer access to, credit information, and for other purposes.
			</div>
			<div>&nbsp;</div>
			<a href="https://irp-cdn.multiscreensite.com/c9720013/files/uploaded/FairAccurate.pdf">
			Read Full PDF (62 Pages) »
			</a>
		</div>
		<div class="col-md-6 col-xs-12">
			<h4>The Fair Credit reporting Act</h4>
			<div>&nbsp;</div>
			<div>
			As a public service, the staff of the Federal Trade Commission (FTC) has prepared the following complete text of the Fair Credit Reporting Act (FCRA), 15 U.S.C. § 1681 et seq. Although staff generally followed the format of the U.S. Code.
			</div>
			<div>&nbsp;</div>
			<a href="https://irp-cdn.multiscreensite.com/c9720013/files/uploaded/FairCredit.pdf">
			Read Full PDF (84 Pages) »
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h4>Fair Debt Collections Protection Act</h4>
			<div>&nbsp;</div>
			<div>
			As a public service, the staff of the Federal Trade Commission (FTC) has prepared the following complete text of the Fair Debt Collection Practices Act (FDCPA), 15 U.S.C. §§ 1692-1692p.
			</div>
			<div>&nbsp;</div>
			<a href="https://irp-cdn.multiscreensite.com/c9720013/files/uploaded/FairDebt.pdf">
			Read Full PDF (28 Pages) »
			</a>
		</div>
		<div class="col-md-6 col-xs-12">
			<h4>Regulation of Credit Repair Organizations</h4>
			<div>&nbsp;</div>
			<div>
			Consumers have a vital interest in establishing and maintaining their credit worthiness and credit standing in order to obtain and use credit.
			</div>
			<div>&nbsp;</div>
			<a href="https://irp-cdn.multiscreensite.com/c9720013/files/uploaded/Regulation.pdf">
			Read Full PDF (8 Pages) »
			</a>
		</div>
	</div>
	<div class="row">
		<div>
		IF YOU HAVE A CREDIT PROBLEM, KEEP THIS IN MIND:
		</div>
		<div>&nbsp;</div>
		<ul>
			<li>
			Accurate negative credit information cannot be erased.If a credit repair company tells you that it will be able to remove negative information from your credit report, they are not telling you the truth. If you have a poor credit history, the only thing that will improve your credit report is time. We will also give you a legal credit building plan.
			</li>
			<li>
			It is illegal to hide bad credit. Some credit repair companies will say they can “hide” bad credit by helping you establish a new credit identity. They will offer to create a new credit file for you with a fake Social Security Number. Don’t do it! This is fraud and it is a crime.
			</li>
			<li>
			You can rebuild your own credit record.Contact your creditors when you realize you cannot make scheduled payments. If you need help working out a payment plan and a budget, contact your local credit counseling service. Before using a local credit counseling service, find out if the counselors are certified, how much the services cost and if the agency is accredited. Also, check with your employer credit union or housing authority for no-cost credit counseling programs.
			</li>
		</ul>
		<div>&nbsp;</div>
		<div>
		If you decide to seek assistance from a credit repair company, you are protected under the Federal Credit Repair Organizations Act.
		</div>
		<div>&nbsp;</div>
		<ul>
			<li>Under the Credit Repair Organizations Act, credit repair companies cannot require you to pay until they have completed the services they have promised. We give you a written guarantee on what we can change and what we can not change. Our Up-Front Fee is only for the Paralegal and Postage Fees. Once your service has been met per the agreement you pay the balance from the escrow account.
			</li>
			<li>Before you sign a contract, the credit repair company must tell you, in writing, what your legal rights are.
			</li>
			<li>A credit repair company must give you a written contract which clearly describes all of the terms and conditions of payment, a detailed description of services to be provided and an estimate of how long it will take to complete these services.
			</li>
			<li>You have three days to cancel the contract between you and the credit repair company.
			</li>
			<li>Credit repair companies are prohibited from making deceptive claims about their services.</li>
		</ul>
		<div>&nbsp;</div>
		<div>
		Since millions of credit reports are sold daily, it is easy for some information to be incorrect. You should review your credit report on a regular basis and correct mistakes immediately. If you want to know about your credit, contact the three bureaus cited below:
		</div>
		<div>&nbsp;</div>
		<div>
		Equifax: 800-685-1111 www.equifax.com
		</div>
		<div>&nbsp;</div>
		<div>
		Experian: 888-397-3742 www.experian.com
		</div>
		<div>&nbsp;</div>
		<div>
		Trans Union: 800-888-4213 www.transunion.com
		</div>
		<div>&nbsp;</div>
		<div>
		If you find a problem, the credit bureau has 30 business days to investigate and must inform you of its findings within 10 days of concluding its investigation.
		</div>
		<div>&nbsp;</div>
		<div>
		Under the Fair Credit Reporting Act, consumers are entitled to a free credit report annually. Federal law now also provides consumers with a toll-free number and Web site to obtain a free credit report from all three national credit agencies by making one contact:
		</div>
		<div>&nbsp;</div>
		<div>Annual Credit Report Request Service</div>
		<div>P.O. Box 105281</div>
		<div>Atlanta, Georgia 30348-5281</div>
		<div>&nbsp;</div>
		<div>www.AnnualCreditReport.com</div>
		<div>&nbsp;</div>
		<div>877-322-8228</div>
	</div>
</div>
{% endblock %}










