{% extends 'page.twig' %}
{% import 'form_fields.twig' as field %}
{% block content %}
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<h2>Forgot your password? <small>No problem.</small></h2>
		<div>Enter your email, and we'll send you a link to reset your password.</div>
		<form class="bs-form" method="POST">
			{{ field.passwords() }}
			{{ field.text({type:"hidden", name:"code", value:code}) }}
			{{ field.text({type:"hidden", name:"id", value:id}) }}
			{{ field.submit("Submit") }}
		</form>
	</div>
{% endblock %}